<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/css/aboutStyles.css" />
    <!--Roboto-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
    </style>

    <title>About</title>
</head>

<body>
    <!-- Nav Bar -->
    <div class="container-fluid Navbar-Section">
        <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
            <a href="/" class="navbar-brand">
                <img src="/images/ietelogo.png" width="60" height="60" alt="">
            </a>
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item divider-vertical">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item divider-vertical">
                        <a class="nav-link a-tab" href="/about">About</a>
                    </li>

                    <li class="nav-item divider-vertical">
                        <a class="nav-link" href="/recruitments">Recruitments</a>
                    </li>
                    <% if(user){ %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="color: black!important;" class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                    <% }else{ %>
                    <li class="nav-item divider-vertical">
                        <a class="nav-link" href="/login/user">Login</a>
                    </li>
                    <% } %>

                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-icons" href="#facebook"><img src="/images/facebook.png" width="40" height="40"
                                alt=""></a> <a class="nav-icons" href="#instagram"><img
                                src="/images/instagram-sketched.png" width="40" height="40" alt=""></a><a
                            class="nav-icons" href="#linkedin"><img src="/images/linkedin.png" width="40" height="40"
                                alt=""></a>
                    </li>

                </ul>

            </div>
        </nav>
    </div>

    <!--About Card Section-->

    <div class="background-image">
        <div class="container-fluid About-Section">

            <div class="card-deck">
                <div class="container-fluid"></div>
                <div class="card" style="min-width: 26%">
                    <img src="/images/Story1.png" class="card-img-top float-left" alt="...">
                    <div class="card-body">
                        <h5 class="w-75 card-title">Our Story</h5>
                        <p class="card-text">The IETE Students Forum is set up at Vellore Institute of Technology,
                            Vellore
                            with the assistance and involvement of faculty members of the Institution. The IETE Students
                            Forum has the following broad objectives in technical landscape</p>

                    </div>
                </div>
                <div class="card" style="min-width: 26%">
                    <img src="/images/Aim1.png" class="card-img-top float-left" alt="...">
                    <div class="card-body">
                        <h5 class="w-75 card-title">Our Aim</h5>
                        <p class="card-text">To provide a common platform for the student members to exchange ideas and
                            information on technical topics of their interest and improve quality of education
                        </p>

                    </div>
                </div>

                <div class="card" style="min-width: 26%; max-width: 350px;">

                    <img src="/images/Mission 1.1.png" style="max-height: 200px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="w-75 card-title">Mission</h5>
                        <p class="card-text">To plan and organize technical programmes and activities like seminars,
                            code-a-thons, hackathons, workshops, Symposiums and exhibitions </p>

                    </div>
                </div>


            </div>

        </div>
    </div>





    <div class="footer">
        <div class="fixed-bottom footer-content">Visit us at <strong>https://ietevit.com/ </strong></div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/222c4d2c03.js" crossorigin="anonymous"></script>
</body>

</html>