<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Portal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .option {
            cursor: pointer;
        }

        .option:focus {
            color: black;
        }

        button {
            margin: 5px;
        }
    </style>
</head>

<body>
    <% quizQuestions.forEach(function(d){ %>
    <% d.questions.forEach(function(e){ %>
    <h4><%= e.question %> </h4>
    <ul question="<%= e.question %> ">
        <% e.options.forEach(function(l){ %>
        <li> <button class="option btn btn-primary"><%= l %> </button></li>
        <% }) %>
        <button class="toSave btn btn-success">Submit</button>

    </ul>
    <% }) %>
    <% }) %>
    <button id="finalSubmit" class="btn btn-danger">Final Submit</button>
    <!-- ======================= Scripts ======================================== -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        let answers = [];
        $(".option").click(function () {
            let selected = $(this).text()
            $(".toSave").unbind().click(function () {
                let answer = {
                    question: $(this).parent().attr("question"),
                    answer: selected
                }
                answers.push(answer);
                $(this).addClass("invisible")
                $(this).after(` <button class=" btn btn-success disabled">Submitted</button>`)
            })
        });
        $("#finalSubmit").click(function () {
            $.ajax({
                type: "POST",
                url: "/quizPortal",
                data: { answers },
                success: function (data) {
                    console.log(data)
                },

            });
        })
    </script>
</body>

</html>