<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="/css/thanksStyles.css" />
    <!--Roboto-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
    </style>

    <title>Test Finished</title>
</head>

<body>
    <div class="container-fluid background-img">
        <!--IMAGE SECTION-->
        <div class="img-section">
            <img src="images/testcompleted.png" alt="" srcset="">
        </div>
        <!--MAIN HEADING-->
        <div class="main-heading">
            Thank You for taking the test.
        </div>
        <!--SUB HEADING-->
        <div class="sub-heading">
            We will get back to you with the results shortly
        </div>
        <!--CONTACT US-->
        <div class="contact-us">
            Keep yourself updated by following <br>our social media handles<br>
            <a href="https://www.facebook.com/ieteisf"><img src="images/facebook.png" width="45" height="45"></a>
            <a href="https://www.instagram.com/iete_vit/"><img src="images/instagram-sketched.png" width="45"
                    height="45"></a>
            <a href="https://www.linkedin.com/in/iete-isf-vit/"><img src="images/linkedin.png" width="45"
                    height="45"></a>
        </div>

        <!--FOOTER-->
        <div class="footer">
            <div class="fixed-bottom footer-content">Visit us at <strong>https://ietevit.com/ </strong></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>